<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php" processIsolation="false" stopOnError="true" stopOnFailure="true">
    <testsuites>
        <testsuite name="Phactory">
            <directory>Phactory</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../lib</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="reports/coverage" title="Phactory"
            charset="UTF-8" yui="true" highlight="true"
            lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="reports/coverage.xml"/>
        <log type="xml" target="reports/log.xml"/>
    </logging>
</phpunit>
